
<form style="background: rgba(53, 239, 11, 0.444);" >

        <h1>Contáctenos</h1>
    <br>
    <br>
    <b>Para más información contáctenos al: <samp style="color: blue;"> +53 56260832 </samp> <br>
        o al correo: <span style="color: blue;" > gonzalezduranjosue@gmail.com </span> <br>
        con mucho gusto aclararemos dudas e inquietudes. </b>


    <div style="text-align: left;">
        <button class="btn btn-primary" style="background-color: rgba(242, 16, 16, 0.60);" (click)="volverInicio()">Atras</button>
    </div>
    <br >
   <br>
</form>
