   
<form style="background: rgba(53, 239, 11, 0.444);" >
   <h1>{{title}}</h1>
      <br>
       <br>
      <b>Esta es un libro de recetas útiles y sencillas, <br>
     realizado con el objetivo de cultivar y desarrollar habilidades en la cocina diaria <br>
      y que deje de ser algo rutinario, convirtiéndose en tu mayor pación, <br>
       y así puedas no solo disfrutar tu al realizar cada una de estas restas sino cada persona de tu familia. <br>
      Gracias por preferirnos  
     </b>
<br><br><br><br>
<div style="text-align: left; background-size: 40mm,20mm;">
    <button class="btn btn-primary" style="background-color: rgba(242, 16, 16, 0.60);" (click)="volverInicio()">Atras</button>
</div>

</form> 