
<form style=" background: rgba(10, 232, 77, 0.5) ; background-image: url(assets/lomo.png); background-repeat: no-repeat;
background-position: right; background-size: 47% ;" >
    <h1>{{title}}</h1>
    <br>
    <h3>Ingredientes:</h3>
    <ul>
        1 lomo de cerdo de unos 800 grs. <br>
        2 cucharaditas colmadas de mostaza dijon. <br>
        2 Cucharadas colmadas de miel. <br>
        350 ml. de zumo de naranja natural. <br>
        100 ml de vino blanco. <br>
        Aceite de oliva.<br>
        2 dientes de ajo.<br>
        Sal y pimienta.<br>
    </ul>
    <br>
    <h3>Modo de preparación</h3>
    <p>
        En un recipiente mezclamos el zumo de naranja, la mostaza y la miel hasta que quede bien integrados los tres ingredientes. <br>
        Embadurnamos en sal y pimienta el lomo.<br>
        En una sartén grande ponemos un poco de aceite (como para asar) y cortamos el ajo en trozos grandes.<br> 
        Lo ponemos en la sartén y esperamos a que se dore, cuando lo haga lo sacamos y lo echamos junto con los ingredientes líquidos.<br>
        Doramos por todos los lados el lomo. Por todos los lados, hasta obtener un dorado bonito.<br>
        Ponemos el lomo en una fuente para horno (a mi me gustan las de pirex).<br>
        Echamos el vino blanco en la sartén y con la ayuda de una cuchara de madera rascamos el fondo para aprovechar los jugos que haya soltado el lomo.<br>
         Ponemos el contenido de la sartén sobre él.<br>
        Vertemos los ingredientes líquidos sobre la carne y tapamos con un papel de aluminio.<br>
        Ponemos el horno a 200 ºC y esperamos 20 minutos. Pasado ese tiempo retiramos el papel y damos la vuelta al lomo. <br>
        Ponemos otros 10 minutos y regamos la superficie del lomo con el líquido. Otros 10 minutos y repetimos la operación, otros 5 y repetimos. Ya lo tenemos listo.<br>
        La salsa suele quedar muy líquida así que, la pasamos a una sartén y la reducimos hasta obtener la consistencia deseada.<br>
         No suelo añadir mas espesantes como harina o similar, pues reducida así tal cual resulta deliciosa.<br>
    </p>
    <br>
    <br>


<div style="text-align: left;  background-size: 40mm,20mm;">
    <button class="btn btn-primary" style="background-color: rgba(242, 16, 16, 0.60);" (click)="volverInicio()">Atras</button>
</div>

</form>