
<div class="container" style="background-image: url(assets/img9916052.png); background-repeat: no-repeat;
background-size: 100% 70%;">
  <ul class="nav">
         <li class="nav-item">
           <a class="nav-link"  routerLink="/"  >Lista de Recetas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/contacto">Contactos</a>
        </li>
       <li class="nav-item">
           <a class="nav-link" routerLink="/quienes-somos">Quienes Somos</a>
      </li>
    </ul>
</div>



<router-outlet></router-outlet>
<app-recetas></app-recetas>