<form style=" background: rgba(10, 232, 77, 0.5) ; background-image: url(assets/tiras-de-pollo.png); background-repeat: no-repeat;
background-position: right; background-size: 45% ;">
     <h1>{{title}}</h1>
     <h3>Ingredientes:</h3>
 <br>    
    <ul >
         <li>- 2 o 3 muslitos de pollo por persona</li>
         <li>- 1 cebolla grande</li>
         <li>- 1 lata de tomate troceado (400gr.)</li>
         <li>- 1 botellín de cerveza</li>
         <li>- aceite de oliva virgen extra</li>
        <li>- sal</li>
        <li>- pimienta negra</li>
    </ul>
 <br>
    <h3>Modo de preparación:</h3>
    <br>
    <p>1. En una cazuela amplia dora los muslitos de pollo en un poco de aceite de oliva, sazonados con sal y pimienta negra. <br>
        2. Cuando estén más o menos dorados por todas partes, añade la cebolla cortada en tiras y el tomate troceado. <br>
         Rehoga un poco y enseguida incorpora la cerveza. En cuanto rompa a hervir baja el fuego, <br>
         tapa el guiso y deja que se haga tranquilamente hasta que el pollo esté totalmente hecho, aproximadamente media hora. <br>
        Sinceramente no se le puede pedir más a este guisito de pollo, sencillo y riquísimo!!.</p>
        <br>
<div style="text-align: left;  background-size: 40mm,20mm;">
    <button class="btn btn-primary" style="background-color: rgba(242, 16, 16, 0.60);" (click)="volverInicio()">Atras</button>
</div>
<br>
<br>
<br>
<br>
<br>

</form>