<form style=" background: rgba(10, 232, 77, 0.3) ; background-image: url(assets/pan.png) ; background-repeat: no-repeat;
background-position: right 20%; background-size: 47%;">
    <h1>{{title}}</h1>
    <br>
    <h3>Ingredientes:</h3>
    <ul>
        <h5>Masa de hojaldre:</h5>
        600 gramos de mantequilla derretida.<br>
        2 y 1/2 lts de agua.<br>
        100 gramos de sal.<br>
        600 gramos de azúcar glass.<br>
        150 gramos de azúcar.<br>
        6 kilos de harina. <br>
        <h5>Relleno del pan: </h5>
        Almendras ( opcional )<br>
        Medio kilo de jamón ahumado<br>
        Tres o cuatro tocinetas<br>
        100 gramos de pasas, aprox.<br>
        70 gramos de aceitunas, aprox.<br>
        Queso crema<br>
        Un toque de miel<br>
    </ul>
    <br>
    <h3>Modo de preparación</h3>

       <p>
             <b> De la masa: </b> <br>
             Colocar los ingredientes ( sin la mantequilla ) de la masa de hojaldre en un boll y revolver con una paleta de madera, cuando estén bien unidos poner en una mesa enharinada, <br>
             y amasar hasta que la masa este compacta. Una vez compacta la mezcla, se toma medio kilo de masa para cada unidad. <br>
             Se le vierte y empasta 100 gramos de mantequilla. Se procede a darle las respectivas vueltas ó dobles para que quede en capas de mantequilla y hojaldre sucesivamente.<br>
              Se prepara la masa en la mañana y se deja reposar en la nevera para luego ser usada en la tarde. Cada masa tendra por lo menos un transcurso de 4 horas de reposo.<br>
             <b>De los panes:</b><br>
             Se estira la masa de forma rectangular para comenzar a colocar el relleno del pan. Se coloca el jamón ahumado, las tiras de tocinetas y las aceitunas rellenas o deshuesadas en la superficie de la masa y las almendras.<br>
              Se añaden los trozos de queso crema. Antes de enrollar el pan se le agrega el toque de miel al gusto. (Muy poca cantidad), Se procede a enrollar la masa.<br>
             <b>Horneado :</b><br>
             Una vez listo el producto, se barniza con huevo y posteriormente se le coloca la rejilla decorativa para hornear y se vuelve a barnizar. Luego se procede a hornear el pan a 180º C o 350º F, por espacio de una hora y media. <br>

      </p>

<br>
<br>



<div style="text-align: left;  background-size: 40mm,20mm;">
    <button class="btn btn-primary" style="background-color: rgba(242, 16, 16, 0.60);" (click)="volverInicio()">Salir</button>
</div>
<br>
<br>

</form>