
<form style=" background: rgba(10, 232, 77, 0.5) ; background-image: url(assets/img9919027.png); background-repeat: no-repeat;
background-position: right; background-size: 47% ;" >
    <h1>{{title}}</h1>
    <ul>
        2 laticas y media de arroz bolita. <br>
        1/2 Ají pimiento. <br>
        2 zanahorias cortada en rodajitas. <br>
        4 Dientes de ajos. <br>
        1 Cebolla mediana. <br>
        1 pizca de pimienta. <br>
        1/2 Libra de pechuga de pollo cortada en daditos. <br>
        alitas de pollo o muslos de pollo. <br>
        1 chorrito de vino blanco. <br>
        una cucharada de salsa se soja. <br>
        Aceite de oliva. <br>
        Pitipua. <br>
        Sal. <br>
        Pasitas o Arándanos. <br>
        1 Cucharada de puré de tomate. <br>
        1 Lata de cerveza normal. <br>
</ul>
    <br>
    <h3>Modo de preparación</h3>
    <p>
        Yo a este arroz le puse en vez de pasa arándanos disecado que es lo que ven que parece pasita le da una sabor rico rico. <br>
        En una olla con el aceite de oliva sofreír las carne y sacarla cuando estén doradas. <br>
        En el mismo aceite sofreír la cebolla, el ají y los ajos todo bien cortadito hasta que estén dorados <br>
         echarle la salsa de soja, la pimienta y el puré de tomate revolver... <br>
        Volver a echar la carne, la lata de cerveza el vino blanco y agua. Rectificar de sal a gusto. <br>
        Dejar a fuego lento hasta que los sabores se mezclen con el liquido. <br>
        Para tres personas y 2 vasos y medio de arroz hay que tener el doble de liquido, <br>
         recuerden que este arroz crece y para que quede rico debe quedar mojadito. <br>
        Yo lo hago en el horno en una vasija de barro... <br>
        Solo nos queda poner el arroz al fuego medio, el arándano, la zanahoria y el pitipua. <br>
        En el horno hay que darle 15 minutos a 200 grados mas o menos. <br>
        Buen provecho.
    </p>

<br>
<br>
<div style="text-align: left;  background-size: 40mm,20mm;">
    <button class="btn btn-primary" style="background-color: rgba(242, 16, 16, 0.60);" (click)="volverInicio()">Atras</button>
</div>
<br>
<br>
</form>